
@{
    ViewBag.Title = "Index";
}

<h2>Giriş Yapıldı</h2>

<a href="/Home/Logout" class="btn btn-danger">Çıkış</a>

<div>
    @Html.TextBox("txtName", "Merhaba 9506")
    <br /><br />
    @Html.TextBox("txtName", null, new { @class = "form-control", placeholder = "Giriş Yapınız..."})
</div>

